<!-- Cart Toggle Button -->
<button id="cart-toggle">🛒</button>

<!-- Cart Sidebar -->
<div id="cart-sidebar" class="cart-sidebar">
    <h2>Your Cart</h2>
    <ul id="cart-items"></ul>
    <p id="cart-total" class="cart-total"></p>
    <input class="customer-email" type="email" name="customer-email" placeholder="Your email" required>
    <button id="checkout-btn" disabled class="checkout-button">Go Checkout</button>
</div>

<!-- JavaScript Files -->
<script src={{ "js/cart.js" | relURL }}></script>